---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Newsletter from '../components/Newsletter.astro';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'virtual chaos',
  description = 'embracing the divide between analog and digital.',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title === 'virtual chaos' ? title : `${title} — virtual chaos`}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Newsletter />
  </body>
</html>
